.cards{
    background-color: rgb(250, 250, 250);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul{
    position: absolute;
    top: 5%;
    left: 50%;
    display: flex;
    margin: 0;
    padding: 0;
    transform: translate(-50%,-50%);

}

.menu{
    margin-bottom: 100px;
}

ul li{
    list-style: none;
}

ul li a{
    position: relative;
    display: block;
    text-align: center;
    margin: 0 25px;
    color: #262626;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    padding: 5px 10px;

}

ul li a::before{
    content: '';
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity: 0;
}

ul li a:hover:before{
    bottom: -8px;
    left: -8px;
    opacity: 1;
}

ul li a::after{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0;
    transition: .5s; 
    opacity: 0;
}

ul li a:hover:after{
    top: -8px;
    right: -8px;
    opacity: 1;
}

ul li a:hover{
    color: #fff;
    background: #e91e63;
}

.card{
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px;
    width: 25%;
    height: 500px;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    align-items: center;
    font-weight: 1000;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.2);
}

body{
    background-color: rgb(255, 239, 12);
    font-size: 1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    text-align: left;
    color: black;
    margin-left: 30px;
}

#datum{
    text-align: center;
    color: black;
}


h2{
    text-align: center;
}


#b1{
    position: relative;
    top: 5px;
    right: 140px;
    background-color: white;
    
}

#b1:hover{
    cursor: pointer;
}

#b2{
    position: relative;
    top: 25px;
    right: 120px;
    background-color: white;
}

#b2:hover{
    cursor: pointer;
}

#b3{
    position: relative;
    top: 25px;
    right: 140px;
    background-color: white;
}

#b3:hover{
    cursor: pointer;
}

#kep1{
    width: 400px;
}

#kep2{
    width: 400px;
}

#kep3{
    width: 400px;
}

h4{
    color: black;
    text-align: center;
}

p{
    color: black;
    text-align: left;
    margin-left: 30px;
}

.block{
    background-color: yellow;
    width: 50px;
    position: relative;
    left: 30px;
    height: 25px;

}

.block2{
    background-color: yellow;
    width: 110px;
    position: relative;
    left: 30px;
    height: 25px;

}

.block3{
    background-color: yellow;
    width: 100px;
    position: relative;
    left: 30px;
    height: 25px;

}

