.cards{
    background-color: rgb(250, 250, 250);
    color: white;
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    align-items: center;
    font-weight: 1000;
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.2);
}

body{
    background-color: rgb(255, 239, 12);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    text-align: left;
    color: black;
    margin-left: 30px;
}

#datum{
    text-align: center;
    color: black;
}


h2{
    text-align: center;
}


#b1{
    position: relative;
    top: 5px;
    right: 140px;
    background-color: white;
}

#b2{
    position: relative;
    top: 25px;
    right: 120px;
    background-color: white;
}

#b3{
    position: relative;
    top: 25px;
    right: 140px;
    background-color: white;
}

#kep1{
    width: 400px;
}

#kep2{
    width: 400px;
}

#kep3{
    width: 400px;
}

h4{
    color: black;
    text-align: center;
}

p{
    color: black;
    text-align: left;
    margin-left: 30px;
}

.block{
    background-color: yellow;
    width: 50px;
    position: relative;
    left: 30px;
    height: 25px;

}

.block2{
    background-color: yellow;
    width: 110px;
    position: relative;
    left: 30px;
    height: 25px;

}

.block3{
    background-color: yellow;
    width: 100px;
    position: relative;
    left: 30px;
    height: 25px;

}

